# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env

# Node
node_modules/

# Build files
dist/
build/

# ML model files
*.pkl
*.joblib

# Editor / OS
.vscode/
.DS_Store
Thumbs.db